/* Carousel.module.css */

.carouselItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Adjust to your desired height */
  }
  
  .carouselItem img {
    max-width: 100%;
    height: auto;
  }
  